/* alert message */
.alert {
    display: flex;
    align-items: center;
    padding: 10px !important;
    margin: 10px 0 !important;
    border-radius: 3px;
    font-size: 1.1em !important;
    line-height: normal !important;
}
.alert a {
    font-size: 1em !important;
}
.feedback-success {
    background-color: #82e0aa;
    color:  #1d8348;
}
.feedback-success span {
    color:  #1d8348;
}
.feedback-success:before {
    background-image: url('/svg/ajax-success.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 35px;
    height: 20px;
    content:"";
}
.feedback-error {
    background-color: #f9bfbf;
    color: #c71a1a;
}
.feedback-error span {
    color: #c71a1a;
}
.feedback-error:before {
    background-image: url('/svg/ajax-error.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 35px;
    height: 20px;
    content:"";
}
.feedback-warning {
    background-color: #eeedc2;
    color:  #807F5F;
}
.feedback-warning span {
    color:  #807F5F;
}
.feedback-warning:before {
    background-image: url('/svg/ajax-warning.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 35px;
    height: 20px;
    content:"";
}
