/************************ 
***ARTICLE PUBLICACION***
************************/
div.pubContainer {
    display: flex;
    flex-flow: row wrap;
}
article.pub {
    width: 70%;
    padding-right: 10px;
    z-index: 1;
}
article.pub blockquote, article.pub-preview blockquote {
  background: #f2f3f4;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
article.pub blockquote:before, article.pub-preview blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
article.pub blockquote p, article.pub-preview blockquote p {
  display: inline;
  color: #808b96;
}
article.pub ul, article.pub-preview ul {
    list-style: none;
    margin: 0px;
}
article.pub ul li, article.pub-preview ul li {
    padding-left: 10px;
    font-size: 1.9em;
    margin: 30px 0px 30px 0px;
}
article.pub ul li:before, article.pub-preview ul li:before {
    content: "▪";
    padding-right: 8px;
    color: #566573;
}
article.pub_galeria, article.pub-preview {
    width: 100%;
    height: auto;
}
article.pub img, article.pub-preview img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
}
article.pub p.info, article.pub_galeria p.info, article.pub-preview p.info {
    font-size: 1.3em;
    margin-top:0px;
    text-transform: capitalize;
}
article.pub p.info img.svg, article.pub_galeria p.info img.svg, article.pub-preview img.svg, article.pub-preview p.info img.svg {
    position: relative;
    width: auto !important;
    height: 1.3em !important;
    vertical-align: middle;
    margin-left: 20px;
}
article.pub p.info img.svg:first-child, article.pub_galeria p.info img.svg:first-child, article.pub-preview p.info img.svg:first-child {
    margin-left: 0px;
}
article.pub h1, article.pub_galeria h1, article.pub-preview h1 {
    font-size: 3.2em;
    line-height: 55px;
    margin: 0px;
}
article.pub h2, article.pub_galeria h2, article.pub-preview h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 65px;
    color: #000;
}
article.pub h3, article.pub_galeria h3, article.pub-preview h3 {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: -25px;
    line-height: 1.1em;
    color: #b3b6b7;
}
article.pub p, article.pub_galeria p, article.pub-preview p {
    margin-top: 30px;
    font-size: 1.9em;
}
article.pub p:last-child, article.pub_galeria p:last-child, article.pub-preview p:last-child {
    margin-bottom: 30px;
}
article.pub p a, article.pub_galeria p a, article.pub-preview p a {
    font-size: 0.95em;
}
article.pub p.copete, article.pub_galeria p.copete, article.pub-preview p.copete {
    margin-bottom: 30px;
    margin-top: 15px;
    color: #797d7f;
}
/**********
***FOTOS***
***********/
article.fotos {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #f2f3f4;
    box-shadow: 0px 0px 3px 0px #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
article.fotos img {
    width: 100%;
    height: auto;
}
article.fotos p:first-child {
    position: relative;
    display: block;
    padding: 10px;
    top: 0;
    margin-top: 0px;
    color: #fff;
    background-color: rgba(0,0,0,1); 
    font-size: 1.5em;
}
article.fotos p:last-child {
    display: block;
    padding: 10px;
    font-size: 1.6em;
}    
/************************ 
***ASIDE PUBLICACIONES***
************************/
aside.pubSeccion {
    width: 30%;
    height: auto;
    background-color: #f2f3f4;
}
aside.pubSeccion article.pubArticle {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
}
aside.pubSeccion article.pubArticle:last-child {
    margin-bottom: 0px;
}
aside.pubSeccion article.pubArticle img {
    width: 100%;
    height: 225px;
    z-index: 0;
    cursor: pointer;
}
aside.pubSeccion article.pubArticle img:hover {
    opacity: 0.8;
    transition: 0.3s;
}
aside.pubSeccion article.pubArticle a {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    bottom: 0;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.1em;
    padding: 5px;
    background-color: rgba(21,67,96,0.5);
    text-shadow: 1px 1px 3px #000000;
    z-index: 1;
}
aside.pubSeccion article.pubArticle a:hover {
    background-color: rgba(41,128,185,0.5);
    transition: background-color 0.3s ease-out;
}
/************************ 
***SEARCH RESULTS***
************************/
div.searchResultContainer {
    width: 100%;
    height: auto;
}
p.searchFilter {
    margin: 10px 0px 10px 0px;
    padding-bottom: 2px;
    font-size: 1.7em;
    border-bottom: 1px solid #ccc;
}
a.searchFilterLink {
    font-size: 1.75em;
    margin: 10px 15px;
    color: #333;
}
p.searchFilter a.searchFilterLink:hover {
    color: #000;
}
p.searchFilter a.active {
    font-size: 1.75em;
    margin: 10px 15px;
    color: #007600;
    border-bottom: 5px solid #007600;
}
p.searchInfo {
    margin: 20px 0px 20px 0px;
    color: #666;
    font-size: 1.7em;
}
article.searchResult{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px #999;
    background-color: #f2f3f4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
article.searchResult p.searchDate {
    font-size: 1.1em;
    color: #666;
    padding: 0px;
    margin: 0px;
}
article.searchResult p.searchDate img {
    height: 1.2em;
    margin-right: 10px;
}
article.searchResult a.searchTitle {
    font-size: 2.5em;
    color: #006699;
}
article.searchResult a.searchTitle:hover {
    color: #0084c6;
    text-decoration: underline;
}
article.searchResult p.searchCopete {
    font-size: 1.5em;
}
ul.pagination {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding-left: 0px;
}
ul.pagination li.page-item {
    border: none;
    margin: 0px;
    padding: 5px 0px 5px 0px;      
}
ul.pagination li.page-item a.page-link {
    margin: 0px;
    padding: 5px 15px 5px 15px;
    background-color: #0086b3;
    font-size: 2em;
    color: #fff;
}
ul.pagination li.page-item a.page-link:hover {
    background-color: #00abe5;
    transition: 0.3s;
}
ul.pagination li.disabled span.page-link {
    margin: 0px;
    padding: 5px 15px 5px 15px;
    background-color: #f2f3f4;
    font-size: 2em;
    color: #666;
    box-shadow: inset 0px 0px 2px 0px #999;
}
ul.pagination li.active span.page-link {
    margin: 0px;
    padding: 5px 15px 5px 15px;
    background-color: #005b7a;
    font-size: 2em;
    color: #fff;
}
ul.pagination li.page-item, ul.pagination li.page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;       
}
ul.pagination li.page-item, ul.pagination li.page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;      
}
/*****************
***VER ENCUESTA***
*****************/
article.pollOptions {
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f2f3f4;
}
article.pollOptions div.resultContainer {
    width: 100%;
    background-color: #ccc;
}
article.pollOptions p.barResult {
    background-color: #1c2833;
    padding: 5px;
    font-size: 1.3em;
    margin: 0px 0px 20px 0px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}
article.pollOptions h2 {
    margin: 0px;
    color: #cb4335;
}
article.pollOptions p.options {
    margin: 0px 10px 0px 0px;
    font-size: 1.3em;
}
article.pollOptions p.totalVotes {
    font-size: 2em;
    color: #000;
    margin: 0px;
}
/******************
***MAS ENCUESTAS***
******************/
article.morePolls {
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: auto;
    padding: 20px;
}
article.morePolls:hover {
    background-color: #eaecee;
    transition: background-color 0.3s ease;
}
article.morePolls p {
    font-size: 1em;
    margin:0px;
}
article.morePolls a {
    font-size: 1.5em;
    line-height: 35px;
}
@media (max-width: 575.98px) {
    /************************ 
    ***ARTICLE PUBLICACION***
    ************************/
    div.pubContainer {
        flex-flow: column wrap;
        width: 100%;
        height: auto;
    }
    article.pub {
        width: 100%;
        height: auto;
        padding-right: 0px;
        overflow: hidden;
    }
    article.pub ul li, article.pub-preview ul li {
        font-size: 1.25em;
    }
    article.pub p.info, article.pub_galeria p.info {
        font-size: 1em; 
    }
    article p.info img.svg, article.pub_galeria p.info img.svg {
        height: 1.5em !important;
    }
    article.pub h1, article.pub_galeria h1, article.pub-preview h1 {
    font-size: 2em;
    line-height: 38px;
    }
    article.pub h2, article.pub_galeria h2 {
        font-size: 1.7em;
        line-height: 1em;
    }
    article.pub h3, article.pub_galeria h3, article.pub-preview h3 {
    font-size: 1em;
    }
    article.pub p, article.pub_galeria p {
        font-size: 1.25em;
    }
    /**********
    ***FOTOS***
    ***********/
    article.fotos:last-child {
        margin-bottom: 0px;
    }
    article.fotos p:last-child {
        font-size: 1em;
    }
    /************************ 
    ***ASIDE PUBLICACIONES***
    ************************/
    aside.pubSeccion {
        width: 100%;
        height: auto;
        background-color: rgba(200,224,205,0.3);
    }
    aside.pubSeccion article.pubArticle img {
        height: 300px;
    }
    /************************ 
    ***SEARCH RESULTS***
    ************************/
    div.searchResultContainer p.searchFilter a.searchFilterLink {
        font-size: 1em;
        margin: 10px 10px;
    }
    div.searchResultContainer p.searchFilter a.active {
        font-size: 1em;
        margin: 10px 10px;
    }
    div.searchResultContainer p.searchInfo {
        margin: 20px 0px 20px 0px;
        font-size: 1.7em;
    }
    div.searchResultContainer article.searchResult p.searchDate {
        font-size: 1em;
    }
    div.searchResultContainer article.searchResult a.searchTitle {
        font-size: 2.5em;
        line-height: 1em;
    }
    div.searchResultContainer article.searchResult p.searchCopete {
        font-size: 1.5em;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    /************************ 
    ***ARTICLE PUBLICACION***
    ************************/
    div.pubContainer {
        flex-flow: column wrap;
        width: 100%;
        height: auto;
    }
    article.pub {
        width: 100%;
        height: auto;
        padding-right: 0px;
        overflow: hidden;
    }
    article.pub p.info, article.pub_galeria p.info {
        font-size: 1em; 
    }
    article.pub ul li, article.pub-preview ul li {
        font-size: 1.25em;
    }
    article p.info img.svg, article.pub_galeria p.info img.svg {
        height: 1.5em !important;
    }
    article.pub h1, article.pub_galeria h1, article.pub-preview h1 {
    font-size: 2em;
    line-height: 38px;
    }
    article.pub h2, article.pub_galeria h2 {
        font-size: 1.7em;
        line-height: 1em;
    }
    article.pub h3, article.pub_galeria h3, article.pub-preview h3 {
    font-size: 1em;
    }
    article.pub p, article.pub_galeria p {
        font-size: 1.25em;
    }
    article.pub p, article.pub_galeria p {
        font-size: 1.25em;
    }
    /**********
    ***FOTOS***
    ***********/
    article.fotos:last-child {
        margin-bottom: 0px;
    }
    article.fotos p:last-child {
        font-size: 1em;
    }
    /************************ 
    ***ASIDE PUBLICACIONES***
    ************************/
    aside.pubSeccion {
        width: 100%;
        height: auto;
        background-color: rgba(200,224,205,0.3);
    }
    aside.pubSeccion article.pubArticle img {
        height: 300px;
    }
    /************************ 
    ***SEARCH RESULTS***
    ************************/
    div.searchResultContainer p.searchFilter a.searchFilterLink {
        font-size: 1em;
        margin: 10px 10px;
    }
    div.searchResultContainer p.searchFilter a.active {
        font-size: 1em;
        margin: 10px 10px;
    }
    div.searchResultContainer p.searchInfo {
        margin: 20px 0px 20px 0px;
        font-size: 1.7em;
    }
    div.searchResultContainer article.searchResult p.searchDate {
        font-size: 1em;
    }
    div.searchResultContainer article.searchResult a.searchTitle {
        font-size: 2.5em;
        line-height: 1em;
    }
    div.searchResultContainer article.searchResult p.searchCopete {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    /************************ 
    ***ARTICLE PUBLICACION***
    ************************/
    div.pubContainer {
        flex-flow: column wrap;
        width: 100%;
        height: auto;
    }
    article.pub {
        width: 100%;
        height: auto;
        padding-right: 0px;
        overflow: hidden;
    }
    article.pub ul li, article.pub-preview ul li {
        font-size: 1.25em;
    }
    article.pub p.info, article.pub_galeria p.info {
        font-size: 1em; 
    }
    article p.info img.svg, article.pub_galeria p.info img.svg {
        height: 1.5em !important;
    }
    article.pub h1, article.pub_galeria h1, article.pub-preview h1 {
    font-size: 2em;
    line-height: 38px;
    }
    article.pub h2, article.pub_galeria h2 {
        font-size: 1.7em;
        line-height: 1em;
    }
    article.pub h3, article.pub_galeria h3, article.pub-preview h3 {
    font-size: 1em;
    }
    article.pub p, article.pub_galeria p {
        font-size: 1.25em;
    }
    article.pub p, article.pub_galeria p {
        font-size: 1.25em;
    }
    /**********
    ***FOTOS***
    ***********/
    article.fotos:last-child {
        margin-bottom: 0px;
    }
    article.fotos p:last-child {
        font-size: 1em;
    }
    /************************ 
    ***ASIDE PUBLICACIONES***
    ************************/
    aside.pubSeccion {
        width: 100%;
        height: auto;
        background-color: rgba(200,224,205,0.3);
    }
    aside.pubSeccion article.pubArticle img {
        height: 300px;
    }
    /************************ 
    ***SEARCH RESULTS***
    ************************/
    div.searchResultContainer p.searchFilter a.searchFilterLink {
        font-size: 1em;
        margin: 10px 10px;
    }
    div.searchResultContainer p.searchFilter a.active {
        font-size: 1em;
        margin: 10px 10px;
    }
    div.searchResultContainer p.searchInfo {
        margin: 20px 0px 20px 0px;
        font-size: 1.7em;
    }
    div.searchResultContainer article.searchResult p.searchDate {
        font-size: 1em;
    }
    div.searchResultContainer article.searchResult a.searchTitle {
        font-size: 2.5em;
        line-height: 1em;
    }
    div.searchResultContainer article.searchResult p.searchCopete {
        font-size: 1.5em;
    }
}