/**-- Article --**/
div.pub-container {
    display: flex;
    flex-flow: row wrap;
}
h1.article-main-title {
    width: 100%;
    margin: 0;
    text-align: center;
}
p.article-main-description {
    width: 100%;
    text-align: center;
    font-style: italic;
    line-height: 35px;
}
article.pub {
    width: 70%;
    padding-right: 30px;
    z-index: 1;
}
article.pub p {
    line-height: 35px;
}
article.pub.gallery {
    width: 100%;
    padding-right: 0;
}
blockquote {
    border-left: 5px solid #ccc;
    margin: 2em 10px;
    padding: 20px;
    quotes: "\201C""\201D";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    line-height: 0;
    font-size: 3em;
    margin-right: 10px;
    vertical-align: -15px;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    line-height: 0;
    font-size: 3em;
    margin-left: 10px;
    vertical-align: -15px;
}
blockquote p {
    display: inline;
    color: #808B96;
}
article.pub h1 {
    margin-top: 0;
}
article.pub ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}
article.pub ul li {
    font-size: 1.5em;
    margin: 10px 0 10px 0;
}
article.pub ul li:before {
    content: "•";
    padding-right: 10px;
}
article.pub img {
    width: 100%;
    height: auto;
}
div.reactions-container {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #d6dbdf;
}
div#reactions {
    position: absolute;
    display: flex;
    align-items: center;
    right: 20px;
    bottom: -24px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid #d6dbdf;
}
div#reactions span {
    font-size: 1.5em;
    margin: 0 20px 0 10px;
    color: rgba(0,0,0,0.8) !important;
}
div#reactions span:last-child {
    margin: 0 0 0 10px;
}
div.info {
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin: 20px 0;
}
div.info span {
    font-size: 1.5em;
    color: #000;
    margin-left: 5px;
    margin-right: 20px;
}
img.icon {
    height: 1.5em !important;
    width: auto !important;
    margin-bottom: 0 !important;
}
img.article-reaction {
    cursor: pointer;
    opacity: 0.8;
}
img.article-views {
    opacity: 0.8;
}
img.article-reaction:hover {
    opacity: 1;
}
img.dislike {
    transform: rotate(180deg) scaleX(-1);
    margin-top: 5px;
}
/**-- Photos --**/
article.photos {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background-color: #f2f3f4;
    box-shadow: 0 0 10px 0 #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
article.photos img {
    width: 100%;
    height: auto;
}
article.photos p {
    position: relative;
    display: block;
    padding: 10px;
    top: 0;
    margin-top: 0;
    font-size: 1.5em;
}
/**-- Aside Pubs --**/
aside.pub-aside {
    width: 30%;
    height: auto;
}
article.pub-article {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 0 3px 0 #85929E;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.9;
}
article.pub-article:last-child {
    margin-bottom: 0;
}
article.pub-article:hover {
    opacity: 1;
    box-shadow: 0 0 3px 0 #34495e;
}
article.pub-article img {
    width: 100%;
    height: 200px;
    z-index: 0;
}
article.pub-article a {
    display: block;
    font-size: 1.5em;
    padding: 20px;
}
article.pub-article p {
    font-size: 1em;
    margin: 0;
    padding: 20px 20px 0 20px;
}
/**-- Search Results --**/
div.searchResultContainer {
    width: 100%;
    height: auto;
}
p.searchFilter {
    margin: 10px 0 10px 0;
    padding-bottom: 2px;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
a.searchFilterLink {
    font-size: 1.5em;
    margin: 10px 15px;
    color: #333;
}
p.searchFilter a.searchFilterLink:hover {
    color: #000;
}
p.searchFilter a.active {
    font-size: 1.5em;
    margin: 10px 15px;
    color: #007600;
    border-bottom: 5px solid #007600;
}
p.searchInfo {
    margin: 20px 0 20px 0;
    color: #666;
    font-size: 1.5em;
}
article.searchResult{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 2px #999;
    background-color: #f2f3f4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
article.searchResult p.searchDate {
    font-size: 1em;
    color: #666;
    padding: 0;
    margin: 0;
    text-transform: initial;
}
article.searchResult p.searchDate:first-letter {
    text-transform: uppercase;
}
article.searchResult a.searchTitle {
    font-size: 1.5em;
}
article.searchResult p.searchCopete {
    font-size: 1em;
}
/**-- Poll View --**/
article.pollOptions {
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f2f3f4;
    margin-bottom: 20px;
}
article.pollOptions div.resultContainer {
    width: 100%;
    background-color: #ccc;
}
article.pollOptions p.barResult {
    background-color: #1c2833;
    padding: 5px;
    font-size: 1.3em;
    margin: 0 0 20px 0;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
article.pollOptions h2 {
    margin: 0;
    color: #cb4335;
}
article.pollOptions p.options {
    margin: 0 0 5px 0;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
article.pollOptions p.options span {
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 0.9em;
    margin-left: 10px;
}
article.pollOptions p.totalVotes {
    font-size: 1.5em;
    color: #000;
    margin: 0;
}
/**-- Comments --**/
span#comments-count {
    background: #283747;
    border-radius: 5px;
    padding: 0 10px;
    color: #fff;
    margin-right: 10px;
}
div#comment {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 50px;
    margin-bottom: 20px;
}
section.comments {
    position: relative;
}
div.comment-container {
    position: relative;
    margin-top: 10px;
}
div.comment-container div {
    margin-left: 60px;
}
div.comment-container img.comment-user {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px !important;
    height: 50px !important;
    border: 1px solid #E7ECED;
}
div.comment-container p.comment {
    position: relative;
    min-height: 65px;
    font-size: 1.1em !important;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    margin-left: 60px;
    line-height: normal !important;
    background-color: #F2F3F4;
    padding: 20px 40px 20px 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 2px 0 #CACFD2;
    word-wrap: break-word;
}
div.comment-container p.comment span.reactions {
    display: block;
    font-size: 0.8em;
    color: #808B96;
    margin-top: 10px;
}
div.comment-container p.comment span.reactions img {
    width: 10px !important;
    height: auto !important;
    margin-right: 0;
    margin-left: 7px;
    margin-bottom: 0 !important;
}
div.comment-container p.comment img.action {
    position: absolute;
    right: 15px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}
div.comment-container p.comment img.action:hover {
    opacity: 0.8;
}
img.delete {
    display: none;
    top: 15px;
}
img.edit {
    display: none;
    top: 35px;
}
div.comment-container p.actions {
    position: relative;
    display: block;
    font-size: 0.8em !important;
    color: #4c4c4c;
    margin-top: 10px;
    padding-bottom: 25px;
    padding-left: 65px;
    line-height: 0;
}
a.reaction, a.edit {
    color: #808B96;
    cursor: pointer;
}
a.reaction:hover, a.edit:hover {
    color: #566573 !important;
    text-decoration: underline;
}
a.reaction.active {
    font-weight: bold;
    color: #21618C !important;
    transition: none;
}
/**-- Pagination --**/
ul.pagination {
    display: flex;
    margin: 20px 0 0 0 !important;
    list-style: none;
    padding-left: 0 !important;
}
a.page-link {
    border-radius: 3px;
    padding: 0 10px;
    background-color: #85929E;
    border: 1px solid #85929E;
    color: #fff;
    font-size: 25px;
}
a.page-link:hover {
    background-color: #fff;
    color: #85929E;
}
span.page-link {
    border-radius: 3px;
    padding: 0 10px;
    font-size: 25px;
}
.page-item {
    margin: 0 10px 0 0!important;
    padding-left: 0 !important;
    font-size: 25px !important;
}
.page-item:before {
    content: none !important;
}
.page-item.active {
    cursor: default;
}
.page-item.active span {
    background-color: #fff;
    color: #85929E;
    border: 1px solid #85929E;
}
.page-item.disabled {
    background-color: #F8F9F9;
    border: none;
}
.page-item.disabled span {
    border: 1px solid #abb2b9;
    color: #abb2b9 !important;
}
img.loading {
    width: auto !important;
    height: auto !important;
}
@media (max-width: 575.98px) {
    /**-- Article View --**/
    div.pub-container {
        width: 100%;
    }
    article.pub {
        width: 100%;
        padding-right: 0;
    }
    article.pub-article p {
        padding: 10px 0 0 10px;
    }
    article.pub-article a {
        font-size: 1.3em;
        padding: 10px;
    }
    p.article-main-description {
        font-size: 1.2em;
        line-height: 25px;
    }
    div.reactions-container {
        margin-top: 10px;
    }
    div.info {
        width: 100%;
        margin: 30px 0 20px 0;
    }
    img.icon {
        height: 1em !important;
    }
    div.info span {
        font-size: 1.1em;
        margin-right: 10px;
        margin-left: 3px;
    }
    div#reactions {
        padding: 5px 10px;
        bottom: -17px;
        right: 10px;
    }
    div#reactions span {
        font-size: 1.2em;
        margin: 0 10px 0 5px;
    }
    div#reactions span:last-child {
        margin: 0 0 0 5px;
    }
    article.pub p {
        font-size: 1.2em;
        line-height: 25px;
    }
    article.pub ul li {
        font-size: 1.2em;
    }
    aside.pub-aside {
        width: 100%;
        margin-top: 10px;
    }
    div.comment-container p.comment {
        font-size: 1em !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    /**-- Article View --**/
    div.pub-container {
        width: 100%;
    }
    article.pub {
        width: 100%;
        padding-right: 0;
    }
    article.pub-article p {
        padding: 10px 0 0 10px;
    }
    article.pub-article a {
        font-size: 1.5em;
        padding: 10px;
    }
    p.article-main-description {
        font-size: 1.5em;
        line-height: 30px;
    }
    div.reactions-container {
        margin-top: 10px;
    }
    div.info {
        width: 100%;
    }
    img.icon {
        height: 1.3em !important;
    }
    div.info span {
        font-size: 1em;
        margin-right: 20px;
        margin-left: 5px;
    }
    article.pub p {
        font-size: 1.5em;
        line-height: 30px;
    }
    article.pub ul li {
        font-size: 1.5em;
    }
    aside.pub-aside {
        width: 100%;
        margin-top: 10px;
    }
    article.pub-article img {
        height: 320px;
    }
    div.comment-container p.comment {
        font-size: 1.2em !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    article.pub {
        width: 60%;
    }
    aside.pub-aside {
        width: 40%;
    }
    div.comment-container p.comment {
        font-size: 1.3em !important;
    }
    div.comment-container p.actions {
        margin-top: 15px !important;
        font-size: 1.2em !important;
    }
    a.page-link, span.page-link {
        font-size: 1.3em;
    }
    div.info span {
        font-size: 1em;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    article.pub {
        width: 60%;
    }
    aside.pub-aside {
        width: 40%;
    }
    div.comment-container p.comment {
        font-size: 1.3em !important;
    }
    div.comment-container p.actions {
        margin-top: 15px !important;
        font-size: 1.2em !important;
    }
    a.page-link, span.page-link {
        font-size: 1.3em;
    }
}
