@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: #eaecee;
    margin: 0px;
    padding: 0px;
    color: #1b2631;
    font-size: 1em;
}
a {
    color: #000;
    text-decoration: none;
    font-size: 1.6em;
}
a:visited {
    color: #000;
}
a:hover {
    color: #007aa3;
}
hr {
    width: 100%;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #d6dbdf;
    border-bottom-color: #fff;
    margin: 10px 0px 10px 0px;
}
h1, h2, h3 {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 1.7em;
    margin: 10px 0px;
} 
p.alert-success {
    background-color: #82e0aa;
    padding: 10px;
    color:  #1d8348;
    margin: 10px 0px;
    border-radius: 3px; 
    font-size: 1.3em;
}
p.invalid-feedback {
    background-color: #f9bfbf;
    padding: 10px;
    color: #c71a1a;
    margin: 10px 0px;
    border-radius: 3px;
    font-size: 1.3em;
} 
/*HEADER*/
header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1200px;
    height: 78px;
    padding: 10px;
    background-image: linear-gradient(180deg,rgba(164,211,244,1.00) 0%,rgba(85,172,238,1.00) 69.42%);
}
/*LOGO*/
header img.logo {
    width: auto;
    height: 55px;
    filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.5));
    cursor: pointer;
}
header img.logo:hover {
    opacity: 0.8;
}
/*SEARCH*/
header div#main-search {
    position:relative;
    width: 400px;
    height: auto;
    margin-top: 5px;
    margin-left: 15px;
}
header div#main-search input[type=search]{
    width: 100%;
    height: 45px;
    margin: 0px;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.3em;
    box-shadow: none;
}
header div#main-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    padding: 7px;
    background-color: rgba(85,172,238,1.00);
    box-shadow: inset 0px 0px 5px 0px #1b90e8;
    border-radius: 0px 3px 3px 0px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}
header div#main-search button:hover {
    background-color: #1b90e8;
    transition: 0.3s;
}
/*DIV USER MENU*/
header div#user-menu {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
    width: auto;
    height: auto;
    padding: 7px 10px 7px 10px;
    background-color: rgba(85,172,238,1.00);
    box-shadow: inset 0px 0px 5px 0px #1b90e8;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}
header div#user-menu:hover {
    background-color: #1b90e8;
    transition: 0.3s;
}
header div#user-menu.focus {
    background-color: #f2f3f4;
    box-shadow: 0px 0px 3px 0px #999;
}     
header div#user-menu p {
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
    margin: 0px;
}
header div#user-menu img {
    height: 1em;
    width: auto;
    margin-left: 10px;
    margin-top: -3px;
    vertical-align: middle;
}
/*NOTIFICATIONS*/
header div#user-notifications {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
}
header div#user-notifications img {
    width: 45px;
    height: 45px;
    padding: 7px;
    margin-right: 7px;
    background-color: rgba(85,172,238,1.00);
    box-shadow: inset 0px 0px 5px 0px #1b90e8;
    border-radius: 3px;
    cursor: pointer;
}
header div#user-notifications img:hover {
    background-color: #1b90e8;
    transition: 0.3s;
}
/*NAV BAR USER OPTIONS*/
header div#user-options {
    display: none;
    margin-top: 10px;
}
header div#user-menu a {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    color: #000;
    font-size: 1.3em; 
    font-weight: bold;
}
header div#user-menu a:visited {
    color: #000;
}
header div#user-menu a:hover {
    opacity: 0.6;
}
header div#user-menu a img {
    height: 1.2em;
    width: auto;
    margin-right: 10px;
    margin-left: 0px;
    vertical-align: middle;
}
/*DASHBOARD MAIN CONTAINER*/
section.dashboard {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(189,189,217,0.7);
}
/*LOADER*/
div#loader {
    width: 75%;
    height: auto;
    display: none;
}
div#loader img {
    width: 128px;
    height: 128px;
}
/*ASIDE DASHBOARD*/
section.dashboard aside.tools-bar {
    width: 25%;
    min-height: 100vh;
    background-color: #f2f9fe;
    padding: 20px 20px 0px 20px;
    box-shadow: inset 0px 0px 3px 0px #d0e4f5;
}
section.dashboard aside.tools-bar h2 {
    color: #000;
    font-size: 1.7em;
    margin-top: 0px;
    margin-bottom: 20px;
}
section.dashboard aside.tools-bar a {
    display: block;
    width: auto;
    color: #000;
    padding: 5px 10px 10px 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
section.dashboard aside.tools-bar a.selected {
    background-color: #a9cce3;  
    border-radius: 3px;
    cursor: default;
}
section.dashboard aside.tools-bar a.selected:hover {
    opacity: 1;
    text-decoration: none;
}
section.dashboard aside.tools-bar a:hover {
    opacity: 0.8;
    text-decoration: underline;
    transition: 0.3s;
}
section.dashboard aside.tools-bar a img {
    height: 1em;
    width: auto;
    margin-right: 20px;
    vertical-align: middle;
}
/*USER CONTENT*/
div#user-content {
    width: 75%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
} 
div.article-admin {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
/*FOOTER*/
footer {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgba(216,219,227,1.00);
}
footer div.footerContainer {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 30px;
    background-image: linear-gradient(180deg,rgba(216,219,227,1.00) 45.60%,rgba(187,192,206,1.00) 100%);
}
footer div.footerContainer div {
    position: relative;
    width: 33.33333333%;
}
footer div.footerContainer h2 {
    color: #000000;
    font-size: 2.5em;
}
footer div.footerContainer div li {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 1.25em;
    list-style: none;
    margin: 0px;
}
footer div.footerContainer div a {
    color: #000000;
    text-transform: uppercase;
}
footer div.footerContainer div a:hover {
    color: #666666;
}
footer div.footerContainer p.footerCopyright {
    font-size: 1em;
    color: rgba(87,87,87,1.00);
}
footer div.footerContainer div.footerSocialContainer {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    height: auto;
    width: auto;
    opacity: 0.5;
}
footer div.footerContainer div.footerSocialContainer img {
    width: auto;
    height: 60px;   
}
/*EDITAR FOTO*/
div.container-photo-update-form {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    top: 20px;
    right: 89px;
}
div.photo-gallery-container {
    position: relative;
}
div.photo-gallery-container form {
    position: absolute;
    display: none;
    top: 30px;
    right: 148px;
    background-color: #f2f3f4;
    padding: 10px;
    border-radius: 3px;
}
div.photo-gallery-container .jfilestyle {
    margin-top: 0px;
}
img.photo-gallery {
    width: 100%;
    height: auto;
    margin: 0px;
    z-index: 1;
}
img.delete-image-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #c71a1a;
    z-index: 2;
}
img.delete-image-button:hover {
    background-color: #e53838;
    transition: 0.3s;
}
img.update-image-button {
    position: absolute;
    top: 30px;
    right: 89px;
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #28b463;
    z-index: 2;
}
img.update-image-button:hover {
    background-color: #2ecc71;
    transition: 0.3s;
}
/*FORMULARIO EDITAR GALERÍA*/
form.data input, form.data textarea {
    display: none;
}
form.data p {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.2em;
}
form.data p:hover {
    background-color: #caced2;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
}
textarea#copete {
    margin-bottom: 10px;
}
/*PROGRESS BAR*/
div#progressBar-Container {
    display: none;
    margin-top: 10px;
}
div.progress{
    position: relative;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #d5dbdb;
    background-color: #f4f6f6;
}
div.bar {
    position: relative;
    background-color: #58d68d;
    height: 40px;
    border-radius: 3px;
}
div.percent {
    position: absolute;
    top: 8px;
    left: 50%;
}
div#progressBar-Container p {
    margin-top: 5px;
    font-size: 1.2em;
    color: #666;
}
img.avatar {
    position: absolute;
    width: 75px;
    height: 75px;
}
div.user-info {
    margin-left: 100px;
}
div.user-info h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 45px;
}
div.user-info a {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.user-info p {
    margin: 0px;
    font-size: 1.2em;
    color: #666;
}
table.table {
    background-color: #3498db;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0px 0px 3px 0px #999;
    border-radius: 3px;
    overflow: hidden;
}
table.table thead tr th {
    text-align: left;
    padding: 10px;
    color: #fff;
    font-size: 1.3em;
}
table.table tbody tr td {
    text-align: left;
    padding: 10px;
    font-size: 1.2em;
}
table.table tbody tr:nth-child(odd) {
    background-color: #fff;
}
table.table tbody tr:nth-child(even) {
    background-color: #f2f3f4;
}
table.table tbody tr:hover {
    background-color: #d5d8dc;
    transition: 0.3s;
}
span.info {
    color: #666;
    font-size: 0.85em;
}