/* STANDAR FORMS */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=date], input[type=search], select, textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 0px; 
    border-radius: 3px;
    box-shadow: 0px 0px 3px #999;
    font-size: 1.2em;
    outline:none;
    resize: none;
    -webkit-appearance: none;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, input[type=date]:focus, input[type=search]:focus, select:focus, textarea:focus {
    box-shadow: 0px 0px 3px #333;
    transition: 0.3s;
    -webkit-appearance: none;
}
input[type=submit], input[type=button], input[type=reset] {
    -webkit-appearance: none;
    font-size: 1.6em;
    margin-top: 10px;
}
/*visited*/
.primary:visited, .primary-small:visited, .danger:visited, .danger-small:visited, .success:visited, .success-small:visited {
    color: #fff;
}
/*Boton default*/
.default {
    padding: 5px 20px 7px 20px;
    background: linear-gradient(180deg, rgba(213,216,220,1) 30%, rgba(171,178,185,1) 100%);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #515a5a; 
    text-shadow:  1px 1px 0px #000;
    cursor: pointer;
}
.default-small {
    padding: 0px 10px 3px 10px;
    background: linear-gradient(180deg, rgba(213,216,220,1) 30%, rgba(171,178,185,1) 100%);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #515a5a; 
    text-shadow:  1px 1px 0px #000;
    font-size: 1em;
    cursor: pointer;
}
.default:active:focus, .default-small:active:focus {
    background-image: linear-gradient(180deg, rgba(128,139,150,1), rgba(213,216,220,1));
    transition: 0.3s;
}
.default:hover, .default-small:hover {
    color: #fff;
    background: rgb(234,236,238);
    background: linear-gradient(180deg, rgba(213,216,220,1) 30%, rgba(128,139,150,1) 100%); 
    transition: 0.3s;
}
/*Boton primary*/
.primary {
    padding: 5px 20px 7px 20px;
    background: linear-gradient(180deg, rgba(127,179,213,1) 30%, rgba(41,128,185,1) 100%); 
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #1a5276; 
    text-shadow:  1px 1px 0px #000;
    cursor: pointer;
}
.primary-small {
    padding: 0px 10px 3px 10px;
    background: linear-gradient(180deg, rgba(127,179,213,1) 30%, rgba(41,128,185,1) 100%);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #1a5276; 
    text-shadow:  1px 1px 0px #000;
    font-size: 1em;
    cursor: pointer;
}
.primary:active:focus, .primary-small:active:focus {
    background-image: linear-gradient(180deg, rgba(31,97,141,1), rgba(127,179,213,1));
    transition: 0.3s;
}
.primary:hover, .primary-small:hover {
    color: #fff;
    background: linear-gradient(180deg, rgba(127,179,213,1) 30%, rgba(31,97,141,1) 100%); 
    transition: 0.3s;
}

/*Boton danger*/
.danger {
    padding: 5px 20px 7px 20px;
    background: rgb(236,112,99);
    background: linear-gradient(180deg, rgba(236,112,99,1) 30%, rgba(203,67,53,1) 100%); 
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #641e16; 
    text-shadow:  1px 1px 0px #000;
    cursor: pointer;
}
.danger-small {
    padding: 0px 10px 3px 10px;
    background: rgb(236,112,99);
    background: linear-gradient(180deg, rgba(236,112,99,1) 30%, rgba(203,67,53,1) 100%); 
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #641e16; 
    text-shadow:  1px 1px 0px #000;
    font-size: 1em;
    cursor: pointer;
}
.danger:active:focus, .danger-small:active:focus {
    background-image: linear-gradient(180deg, rgba(148,49,38,1), rgba(236,112,99,1));
    transition: 0.3s;
}
.danger:hover, .danger-small:hover {
    color: #fff;
    background: rgb(236,112,99);
    background: linear-gradient(180deg, rgba(236,112,99,1) 30%, rgba(148,49,38,1) 100%); 
    transition: 0.3s;
}
/*Boton success*/
.success {
    padding: 5px 20px 7px 20px;
    background: rgb(88,214,141);
    background: linear-gradient(180deg, rgba(88,214,141,1) 30%, rgba(40,180,99,1) 100%); 
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #186a3b;
    text-shadow: 1px 1px 0px #000;
    cursor: pointer;
}
.success-small {
    padding: 0px 10px 3px 10px;
    background: rgb(88,214,141);
    background: linear-gradient(180deg, rgba(88,214,141,1) 30%, rgba(40,180,99,1) 100%);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #186a3b;
    text-shadow: 1px 1px 0px #000;
    font-size: 1em;
    cursor: pointer;
}
.success:active:focus, .success-small:active:focus {
    background-image: linear-gradient(180deg, rgba(35,155,86,1), rgba(88,214,141,1));
    transition: 0.3s;
}
.success:hover, .success-small:hover {
    color: #fff;
    background: rgb(88,214,141);
    background: linear-gradient(180deg, rgba(88,214,141,1) 30%, rgba(35,155,86,1) 100%); 
    transition: 0.3s;
}
.disabled {
    padding: 5px 20px 7px 20px;
    background-color: #d5d8dc;
    color: #000;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #abb2b9;
    text-shadow: 1px 1px 0px #fff;
    cursor: default;
}
.disabled:hover {
    color: #000;
}
.disabled-small {
    padding: 0px 10px 3px 10px;
    background-color: #d5d8dc;
    color: #333;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px #abb2b9;
    text-shadow: 1px 1px 0px #fff;
    font-size: 1.2em;
    cursor: default;
}
fieldset {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #f2f3f4;
    border: none;
    margin: 10px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 2px 0px #999;
    -webkit-appearance: none;
}
fieldset p {
    font-size: 1.4em;
}
fieldset img {
    width: 100%;
    height: auto;
}
fieldset img.eliminar {
    position: absolute;
    top:20px;
    right: 10px;
    width: auto !important;
    height: 49px !important;
    padding: 7px;
    background-color: #c71a1a;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
fieldset img.eliminar:hover {
    background-color: #e53838;
    transition: 0.3s;
}
legend {
    width: 100%;
    font-size: 2em;
    background-color: #e2e2e2;
    padding: 0px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #999;
    color: #006699;
}

/*LOGIN*/
div.dashboard-login input[type=password].is-invalid, input[type=email].is-invalid{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 0px; 
    border-radius: 3px;
    box-shadow: 0px 0px 3px #c71a1a;
    font-size: 1.2em;
}

/* INPUT RADIO */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.25em;
    user-select: none;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #aeb6bf;
    border-radius: 50%;
}
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
    transition: 0.3s;
}
.radio-container input:checked ~ .checkmark {
    background-color: rgba(41,128,185,1);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container input:checked ~ .checkmark:after {
    display: block;
}
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}  

/* INPUT CHECKBOX */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #999;
    border-radius: 3px;
}
.check-container:hover input ~ .check-mark {
    background-color: #ccc;
    box-shadow: none;
    transition: 0.3s;
}
.check-container input:checked ~ .check-mark {
    background-color: rgba(41,128,185,1);
}
.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-container input:checked ~ .check-mark:after {
    display: block;
}
.check-container .check-mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* INPUT FILE */
.jfilestyle {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    border-collapse: separate;
}
div.jfilestyle input {
    cursor: default;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #999;
    font-family: 'Oswald', sans-serif;
    margin-right: -8px;
    margin-bottom: 0px;
    margin-left: 0px;
}
div.jfilestyle label {
    display: inline-block;
    width: auto;
    vertical-align: middle;	
    margin-top: -7px;
    margin-left: -3px;
    padding: 10px 20px 10px 20px;
    color: rgba(255,255,255,1.00);
    background: linear-gradient(180deg, rgba(127,179,213,1) 30%, rgba(41,128,185,1) 100%);
    box-shadow: inset 0px 0px 2px 0px #1a5276;
    border: none;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow:  1px 1px 0px #000;
    cursor: pointer;
}
div.jfilestyle.jfilestyle-corner input:first-child {
    border-right: 0;
}
div.jfilestyle.jfilestyle-corner input:last-child {
    border-left: 0;
}
div.jfilestyle.jfilestyle-corner input:first-child,
div.jfilestyle.jfilestyle-corner span:first-child>label {
    border-radius: 3px 0 0 3px;	
}

div.jfilestyle.jfilestyle-corner input:last-child,
div.jfilestyle.jfilestyle-corner span:last-child>label {
    border-radius: 0 3px 3px 0;	
}

div.jfilestyle label[disabled] {
    pointer-events: none;
    opacity: 0.6;
    filter: alpha(opacity=65);
    cursor: not-allowed;
}
div.jfilestyle label:hover {
    background: linear-gradient(180deg, rgba(127,179,213,1) 30%, rgba(31,97,141,1) 100%);
    transition: 0.3s;
}
div.jfilestyle label:active {
    background-image: linear-gradient(180deg, rgba(31,97,141,1), rgba(127,179,213,1));
    transition: 0.3s;
}
div.jfilestyle .count-jfilestyle {
    background: #303030;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
    vertical-align: middle;
}