.translate img.camera, img.placeholder {
    transform: translate(-50%, -50%);
}
/**-- Breaking News --**/
article.breaking-news {
    width: 100%;
    background-color: #C0392B;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}
article.breaking-news h1 {
    display: block;
    color: #fff;
    background-color: #A93226;
    padding: 10px 0 10px 0;
    margin: 0 0 20px 0;
    text-align: center;
    border-radius: 5px;
}
div.breaking-news-content {
    display: flex;
}
div.breaking-news-content h2 {
    margin: 0 0 20px 0;
}
.breaking-news-image {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}
article.breaking-news a {
    color: #fff;
    transition: 0.2s;
}
article.breaking-news a:hover {
    color: #F2F3F4;
    text-decoration: underline;
}
article.breaking-news p {
    color: #D0D3D4;
}
div.articles-index {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
/**-- Main Pubs --**/
article.pubIndex {
    position: relative;
    width: 32%;
    height: 450px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 0 3px 0 #85929E;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.9;
}
article.pubIndex:hover {
    box-shadow: 0 0 3px 0 #34495e;
    opacity: 1;
}
article.pubIndex span.section {
    position: absolute;
    display: block;
    left: 20px;
    top: 20px;
    width: auto;
    height: auto;
    padding: 7px 15px 5px 15px;
    color: #fff;
    background-color: #154360;
    font-size: 1em;
    text-transform: uppercase;
    z-index: 1;
    border-radius: 3px;
    border: 1px solid #154360;
    transition: 0.2s;
}
article.pubIndex span.section:hover {
    text-decoration: none;
    background-color: #f2f3f4;
    color: #154360;
}
article.pubIndex img.video {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 125px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px 0 rgba(255,255,255,0.2);
    border-radius: 50%;
    z-index: 1;
}
article.pubIndex img.article-image {
    width: 100%;
    height: 250px;
    z-index: 0;
}
article.pubIndex a.article-link {
    display: block;
    height: auto;
    font-size: 1.5em;
    padding: 20px 20px 0 20px;
}
article.pubIndex span.article-date {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 1.1em;
    color: #616161 ;
}
/**-- Galleries and Polls --**/
article.gallery-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 700px;
    height: auto;
    border-radius: 5px;
    background-color: #f2f3f4;
    box-shadow: 0 0 3px 0 #85929E;
    overflow: hidden;
}
article.gallery-container img.camera {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 1;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    opacity: 0.7;
}
article.polls-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 470px;
    height: auto;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    background-color: #f2f3f4;
    box-shadow: 0 0 3px 0 #85929E;
}
/**-- Gallery Photo Index --**/
article.gallery-container img.main-photo {
    width: 100%;
    height: 100%;
}
article.gallery-container a.gallery-link {
    position: absolute;
    display: block;
    width: 90%;
    height: auto;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    font-size: 2em;
    padding: 20px;
    background-color: rgba(242,243,244,0.8);
    border-radius: 3px;
}
article.gallery-container a.gallery-link:hover {
    background-color: #fff;
}
/**-- Poll Index --**/
div.poll-index {
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: auto;
    padding: 20px;
    transition: 0.2s;
    margin: 0;
}
div.poll-index:hover {
    background-color: #e5e7e9;
    border-radius: 5px;
}
div.poll-index span.poll-info {
    color: #5D6D7E;
    font-size: 1em;
}
div.poll-index a.poll-link {
    margin-top: 5px;
    display: block;
    font-size: 1.5em;
}
@media (max-width: 575.98px) {
    /**-- Breaking News --**/
    article.breaking-news {
        padding: 10px;
    }
    article.breaking-news h1 {
        margin: 0 0 10px 0;
    }
    div.breaking-news-content {
        flex-flow: column;
    }
    div.breaking-news-content h2 {
        margin: 0 0 10px 0;
    }
    .breaking-news-image {
        width: 100%;
        margin-right: 0;
    }
    article.breaking-news a {
        color: #fff;
        transition: 0.2s;
    }
    article.breaking-news p {
        color: #D0D3D4;
        margin: 0;
    }
    /**-- Main Pubs --**/
    article.pubIndex {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
    }
    article.pubIndex:last-child {
        margin-bottom: 0;
    }
    article.pubIndex img.article-image {
        width: 100%;
        height: 200px;
    }
    article.pubIndex img.video {
        top: 100px;
    }
    article.pubIndex a.article-link {
        padding: 10px;
        font-size: 1.3em;
    }
    article.pubIndex span.article-date {
        position: relative;
        padding: 0 10px 10px 0;
        text-align: right;
    }
    /**-- Galleries and Polls --**/
    article.gallery-container {
        width: 100%;
        margin-bottom: 30px;
    }
    article.polls-container {
        width: 100%;
    }
    /**-- Gallery Photo Index --**/
    article.gallery-container img.main-photo {
        width: 100%;
        height: 100%;
    }
    article.gallery-container img.camera {
        top: 25%;
        transform: translate(-50%, -25%);
        width: 60px;
        height: 60px;
    }
    article.gallery-container a.gallery-link {
        font-size: 1.3em;
        padding: 10px;
    }
    /**-- Poll Index --**/
    div.poll-index {
        padding: 5px;
    }
    div.poll-index a.poll-link {
        font-size: 1.3em;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    /**-- Breaking News --**/
    article.breaking-news {
        padding: 10px;
    }
    article.breaking-news h1 {
        margin: 0 0 10px 0;
    }
    div.breaking-news-content {
        flex-flow: column;
    }
    div.breaking-news-content h2 {
        margin: 0 0 10px 0;
    }
    .breaking-news-image {
        width: 100%;
        margin-right: 0;
    }
    article.breaking-news a {
        color: #fff;
        transition: 0.2s;
    }
    article.breaking-news p {
        color: #D0D3D4;
        margin: 0;
    }
    /**-- Main Pubs --**/
    article.pubIndex {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
    }
    article.pubIndex:last-child {
        margin-bottom: 0;
    }
    article.pubIndex img.article-image {
        width: 100%;
        height: 320px;
    }
    article.pubIndex img.video {
        top: 160px;
    }
    article.pubIndex a.article-link {
        padding: 10px;
        font-size: 1.5em;
    }
    article.pubIndex span.article-date {
        position: relative;
        padding: 0 10px 10px 0;
        text-align: right;
    }
    /**-- Galleries and Polls --**/
    article.gallery-container {
        width: 100%;
        margin-bottom: 30px;
    }
    article.polls-container {
        width: 100%;
    }
    /**-- Gallery Photo Index --**/
    article.gallery-container img.main-photo {
        width: 100%;
        height: 100%;
    }
    article.gallery-container img.camera {
        width: 60px;
        height: 60px;
    }
    article.gallery-container a.gallery-link {
        font-size: 1.5em;
        padding: 10px;
    }
    /**-- Poll Index --**/
    div.poll-index {
        padding: 5px;
        margin-bottom: 10px;
    }
    article.polls-container div.poll-index:last-child {
        margin-bottom: 0;
    }
    div.poll-index a.poll-link {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    /**-- Breaking News --**/
    article.breaking-news p {
        display: none;
    }
    article.breaking-news p {
        color: #D0D3D4;
        margin: 0;
    }
    /**-- Main Pubs --**/
    article.pubIndex {
        display: flex;
        flex-flow: column nowrap;
        width: 48%;
        height: auto;
    }
    article.pubIndex:first-child {
        width: 100%;
    }
    article.pubIndex:last-child {
        margin-bottom: 0;
    }
    article.pubIndex img.article-image {
        width: 100%;
        height: 320px;
    }
    article.pubIndex:first-child img{
        height: auto;
    }
    article.pubIndex img.video {
        top: 160px;
    }
    article.pubIndex a.article-link {
        padding: 10px;
        font-size: 1.5em;
    }
    article.pubIndex span.article-date {
        position: relative;
        padding: 0 10px 10px 0;
        text-align: right;
    }
    /**-- Galleries and Polls --**/
    article.gallery-container {
        width: 100%;
        margin-bottom: 30px;
    }
    article.polls-container {
        width: 100%;
    }
    /**-- Gallery Photo Index --**/
    article.gallery-container img.main-photo {
        width: 100%;
        height: 100%;
    }
    article.gallery-container a.gallery-link {
        font-size: 1.5em;
        padding: 10px;
    }
    /**-- Poll Index --**/
    div.poll-index {
        padding: 5px;
        margin-bottom: 10px;
    }
    article.polls-container div.poll-index:last-child {
        margin-bottom: 0;
    }
    div.poll-index a.poll-link {
        font-size: 1.5em;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    article.gallery-container, article.polls-container {
        width: 48%;
    }
    article.gallery-container a.gallery-link {
        font-size: 1.5em;
    }
}
@media (min-width: 1200px) {
    /**-- 1° Article --**/
    article.pubIndex:nth-child(1) {
        width: 600px;
        height: 650px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(1) span.section {
        font-size: 1.5em;
    }
    article.pubIndex:nth-child(1) img.video {
        width: 100px;
        height: auto;
        top: 50%;
    }
    article.pubIndex:nth-child(1) img.article-image {
        width: auto;
        height: 650px;
    }
    article.pubIndex:nth-child(1) a.article-link {
        position: absolute;
        display: block;
        width: 560px;
        height: auto;
        bottom: 20px;
        left: 20px;
        text-decoration: none;
        font-size: 2em;
        padding: 20px;
        background-color: rgba(242,243,244,0.8);
        border-radius: 3px;
    }
    article.pubIndex:nth-child(1) span.article-date, article.pubIndex:nth-child(2) span.article-date, article.pubIndex:nth-child(3) span.article-date {
        display: none;
    }
    /**-- 2° Article --**/
    article.pubIndex:nth-child(2) {
        width: 570px;
        height: 310px;
        overflow: hidden;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(2) img.video, article.pubIndex:nth-child(3) img.video {
        width: 50px;
        height: auto;
        top: 100px;
    }
    article.pubIndex:nth-child(2) img.article-image, article.pubIndex:nth-child(3) img.article-image {
        width: 100%;
        height: 310px;
    }
    article.pubIndex:nth-child(2) a.article-link, article.pubIndex:nth-child(3) a.article-link {
        position: absolute;
        display: block;
        width: 530px;
        height: auto;
        bottom: 20px;
        left: 20px;
        text-decoration: none;
        font-size: 1.5em;
        padding: 20px;
        background-color: rgba(242,243,244,0.8);
        border-radius: 3px;
    }
    /**-- 3° Article --**/
    article.pubIndex:nth-child(3) {
        position: absolute;
        right: 0;
        top: 340px;
        width: 570px;
        height: 310px;
        overflow: hidden;
        border-radius: 0 0 0 0;
    }
    /**-- 7° y 8° Article --**/
    article.pubIndex:nth-child(10), article.pubIndex:nth-child(11) {
        display: flex;
        flex-flow: row wrap;
        width: 780px;
        height: 220px;
        overflow: hidden;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(10) img.article-image, article.pubIndex:nth-child(11) img.article-image {
        width: 400px;
        height: 220px;
    }
    article.pubIndex:nth-child(10) a.article-link, article.pubIndex:nth-child(11) a.article-link {
        width: 380px;
        height: 220px;
        padding-top: 60px;
    }
    article.pubIndex:nth-child(10) img.video, article.pubIndex:nth-child(11) img.video {
        width: 50px;
        height: 50px;
        top: 50%;
        left: 200px;
    }
    article.pubIndex:nth-child(10) div.section, article.pubIndex:nth-child(11) div.section {
        left: 420px;
    }
    /**-- 9° Article --**/
    article.pubIndex:nth-child(12) {
        margin-top: -251px;
        width: 400px;
        height: 471px;
        overflow: hidden;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(12) img.article-image {
        width: 100%;
        height: 300px;
    }
    article.pubIndex:nth-child(12) a.article-link {
        width: 100%;
        height: 171px;
    }
    article.pubIndex:nth-child(12) img.video {
        width: 50px;
        height: auto;
        top: 150px;
    }
}
