/**-- Lazy Images --**/
img.lazy {
    background-image: url('/img/loader-image.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px auto;
}
.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px !important;
    height: auto !important;
}
.translate img.camera, img.placeholder {
    transform: translate(-50%, -50%);
}
/**-- Main Pubs --**/
article.pubIndex {
    position: relative;
    width: 386.66666667px;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #5f6a6a;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}
article.pubIndex:hover {
    background-color: #f2f3f4;
    opacity: 0.8;
    box-shadow: 0 0 10px 0 #000;
    transition: 0.3s;
}
article.pubIndex div.seccion {
    position: absolute;
    display: block;
    left: 20px;
    top: 20px;
    width: auto;
    height: auto;
    padding: 7px 15px 5px 15px;
    color: #fff;
    background-color: rgba(52,73,94,0.7);
    font-size: 1em;
    text-transform: uppercase;
    z-index: 1;
    border-radius: 3px;
}
article.pubIndex div.seccion:hover {
    text-decoration: none;
    background-color: #f2f3f4;
    color: #2e4053;
    transition: 0.3s;
}
article.pubIndex img.video {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 168px;
    top: 100px;
    box-shadow: 0 0 50px 0 rgba(255,255,255,0.2);
    border-radius: 50%;
    z-index: 1;
}
article.pubIndex img {
    width: 100%;
    height: 250px;
    z-index: 0;
}
article.pubIndex a {
    display: block;
    height: auto;
    font-size: 1.5em;
    line-height: 30px;
    padding: 20px 20px 0 20px;
}
article.pubIndex p {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 1.2em;
}
/**-- Galleries and Polls --**/
div.galeriasContainerIndex {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 700px;
    height: auto;
    border-radius: 5px;
    background-color: #f2f3f4;
    box-shadow: 0 0 10px 0 #5f6a6a;
}
div.galeriasContainerIndex img.camera {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    opacity: 0.7;
}
div.pollsContainerIndex h1 {
    font-size: 2em;
    margin-top: 20px;
}
div.pollsContainerIndex {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 470px;
    height: auto;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    background-color: #f2f3f4;
    box-shadow: 0 0 10px 0 #5f6a6a;
}
/**-- Gallery Photo Index --**/
article.galeriaIndex {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    min-height: 400px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
article.galeriaIndex img {
    width: auto;
    height: 100%;
}
article.galeriaIndex a {
    position: absolute;
    display: block;
    width: 660px;
    height: auto;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 2em;
    line-height: 1.2em;
    padding: 20px;
    background-color: rgba(242,243,244,0.8);
    border-radius: 3px;
}
article.galeriaIndex a:hover {
    background-color: #fff;
}
/**-- Poll Index --**/
article.pollIndex {
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: 140px;
    padding: 20px;
}
article.pollIndex:hover {
    background-color: #e5e7e9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
article.pollIndex p {
    font-size: 1em;
    margin: 0 0 10px 0;
}
article.pollIndex a {
    display: block;
    font-size: 1.5em;
    line-height: 1.2em;
}
@media (max-width: 575.98px) {
    /**-- Main Pubs --**/
    article.pubIndex {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
        background-color: #f2f3f4;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    article.pubIndex img.video {
        left: 45%;
        top: 100px;
    }
    article.pubIndex img {
        width: 100%;
        height: 250px;
    }
    article.pubIndex a {
        height: auto;
        font-size: 1.5em;
    }
    article.pubIndex p {
        align-self: flex-end;
        position: relative;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 1em;
    }
    /**-- Galleries --**/
    div.galeriasContainerIndex {
        width: 100%;
        height: 400px;
    }
    article.galeriaIndex {
        border-radius: 0 0 5px 5px;
    }
    article.galeriaIndex img {
        width: 100%;
        height: auto;
    }
    article.galeriaIndex a {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        border-radius: 0 0 3px 3px;
        font-size: 1.5em;
    }
    /**-- Polls --**/
    article.pollIndex {
        height: auto;
        padding: 10px;
    }
    article.pollIndex a {
        font-size: 1.2em;
    }
    div.pollsContainerIndex {
        width: 100%;
        margin-top: 30px;
    }
    div.pollsContainerIndex h1 {
        font-size: 1.5em;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    /**-- Main Pubs --**/
    article.pubIndex {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
        background-color: #f2f3f4;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    article.pubIndex img.video {
        left: 45%;
        top: 100px;
    }
    article.pubIndex img {
        width: 100%;
        height: 250px;
    }
    article.pubIndex a {
        height: auto;
        font-size: 1.5em;
    }
    article.pubIndex p {
        align-self: flex-end;
        position: relative;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 1em;
    }
    /**-- Galleries --**/
    div.galeriasContainerIndex {
        width: 100%;
        height: 400px;
    }
    article.galeriaIndex {
        border-radius: 0 0 5px 5px;
    }
    article.galeriaIndex img {
        width: 100%;
        height: auto;
    }
    article.galeriaIndex a {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        border-radius: 0 0 3px 3px;
        font-size: 1.5em;
    }
    /**-- Polls --**/
    article.pollIndex {
        height: auto;
        padding: 10px;
    }
    article.pollIndex a {
        font-size: 1.2em;
    }
    div.pollsContainerIndex {
        width: 100%;
        margin-top: 30px;
    }
    div.pollsContainerIndex h1 {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    /**-- Main Pubs --**/
    article.pubIndex {
        display: flex;
        flex-flow: column nowrap;
        width: 49%;
        height: auto;
        background-color: #f2f3f4;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    article.pubIndex img.video {
        left: 45%;
        top: 100px;
    }
    article.pubIndex img {
        width: 100%;
        height: 250px;
    }
    article.pubIndex a {
        height: auto;
        font-size: 1.5em;
    }
    article.pubIndex p {
        align-self: flex-end;
        position: relative;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 1em;
    }
    /**-- Galleries --**/
    div.galeriasContainerIndex {
        width: 100%;
        height: 400px;
    }
    article.galeriaIndex {
        border-radius: 0 0 5px 5px;
    }
    article.galeriaIndex img {
        width: 100%;
        height: auto;
    }
    article.galeriaIndex a {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        border-radius: 0 0 3px 3px;
        font-size: 1.5em;
    }
    /**-- Polls --**/
    article.pollIndex {
        height: auto;
        padding: 10px;
    }
    article.pollIndex a {
        font-size: 1.2em;
    }
    div.pollsContainerIndex {
        width: 100%;
        margin-top: 30px;
    }
    div.pollsContainerIndex h1 {
        font-size: 1.5em;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    /**-- Main Pubs --**/
    article.pubIndex {
        width: 49%;
    }
    article.pubIndex img.video {
        left: 50%;
        top: 35%;
        transform: translate(-50%, -35%);
    }
    article.pubIndex img {
        height: 400px;
    }
    article.pubIndex a {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 25px;
        left: 0;
        background-color: rgba(242,243,244,0.8);
        padding: 20px 20px 20px 20px;
    }
    article.pubIndex p {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #fff;
        right: 10px;
    }
    article.galeriaIndex a{
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
    }
    /**-- Galleries --**/
    div.galeriasContainerIndex {
        flex-flow: row wrap;
        width: 49%;
    }
    div.pollsContainerIndex {
        flex-flow: row wrap;
        width: 49%;
    }
}
@media (min-width: 1200px) {
    /**-- 1° Article --**/
    article.pubIndex:nth-child(1) {
        width: 600px;
        height: 650px;
        margin-right: 30px;
        margin-bottom: 30px;
        box-shadow: 0 0 10px 0 #5f6a6a;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(1):hover {
        box-shadow: 0 0 10px 0 #000;
        transition: 0.3s;
    }
    article.pubIndex:nth-child(1) div.seccion {
        font-size: 1.5em;
    }
    article.pubIndex:nth-child(1) img.video {
        width: 100px;
        height: auto;
        top: 250px;
        left: 250px;
    }
    article.pubIndex:nth-child(1) img {
        width: auto;
        height: 650px;
    }
    article.pubIndex:nth-child(1) a {
        position: absolute;
        display: block;
        width: 560px;
        height: auto;
        bottom: 20px;
        left: 20px;
        text-decoration: none;
        font-size: 2em;
        line-height: 1.2em;
        padding: 20px;
        background-color: rgba(242,243,244,0.8);
        border-radius: 3px;
    }
    article.pubIndex:nth-child(1) a:hover, article.pubIndex:nth-child(2) a:hover, article.pubIndex:nth-child(3) a:hover {
        background-color: #fff;
        transition: 0.3s;
    }
    article.pubIndex:nth-child(1) p, article.pubIndex:nth-child(2) p, article.pubIndex:nth-child(3) p {
        display: none;
    }
    /**-- 2° Article --**/
    article.pubIndex:nth-child(2){
        width: 570px;
        height: 310px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 #5f6a6a;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(2):hover, article.pubIndex:nth-child(3):hover{
        box-shadow: 0 0 10px 0 #000;
        transition: 0.3s;
    }
    article.pubIndex:nth-child(2) img.video, article.pubIndex:nth-child(3) img.video{
        width: 50px;
        height: auto;
        top: 100px;
        left: 260px;
    }
    article.pubIndex:nth-child(2) img, article.pubIndex:nth-child(3) img{
        width: 100%;
        height: 310px;
    }
    article.pubIndex:nth-child(2) a, article.pubIndex:nth-child(3) a{
        position: absolute;
        display: block;
        width: 530px;
        height: auto;
        bottom: 20px;
        left: 20px;
        text-decoration: none;
        font-size: 1.5em;
        line-height: 1.2em;
        padding: 20px;
        background-color: rgba(242,243,244,0.8);
        border-radius: 3px;
    }
    /**-- 3° Article --**/
    article.pubIndex:nth-child(3) {
        position: absolute;
        right: 0;
        top: 380px;
        width: 570px;
        height: 310px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 #5f6a6a;
        border-radius: 0 0 0 0;
    }
    /**-- 7° y 8° Article --**/
    article.pubIndex:nth-child(10), article.pubIndex:nth-child(11) {
        display: flex;
        flex-flow: row wrap;
        width: 780px;
        height: 220px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 #5f6a6a;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(10) img, article.pubIndex:nth-child(11) img {
        width: 400px;
        height: 220px;
    }
    article.pubIndex:nth-child(10) a, article.pubIndex:nth-child(11) a {
        width: 380px;
        height: 220px;
        padding-top: 60px;
    }
    article.pubIndex:nth-child(10) img.video, article.pubIndex:nth-child(11) img.video {
        width: 50px;
        height: 50px;
        left: 175px;
        top: 85px;
    }
    article.pubIndex:nth-child(10) div.seccion, article.pubIndex:nth-child(11) div.seccion {
        left: 420px;
    }
    /**-- 9° Article --**/
    article.pubIndex:nth-child(12) {
        margin-top: -251px;
        width: 400px;
        height: 471px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 #5f6a6a;
        border-radius: 0 0 0 0;
    }
    article.pubIndex:nth-child(12) img {
        width: 100%;
        height: 300px;
    }
    article.pubIndex:nth-child(12) a {
        width: 100%;
        height: 171px;
    }
    article.pubIndex:nth-child(12) img.video {
        width: 50px;
        height: auto;
        top: 130px;
        left: 180px;
    }
}
