/.idea
/vendor
/key
/key.pub
git status
/.env
.~lock.ssh_key_git_barrilete.pub#
ssh_key_git_barrilete
ssh_key_git_barrilete.pub
storage/framework/.gitignore

/public_html/img/articles/.thumbs/images/*
/public_html/img/articles/images/*
/public_html/img/galleries/*
/public_html/img/galleries/.thumbs/*
/public_html/img/users/*
/node_modules
