form {
    margin: 0;
    padding: 0;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=date],
input[type=search],
select,
textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    font-size: 1.1em;
    outline:none;
    resize: none;
    margin-bottom: 10px;
}
input[type=text]:last-child,
input[type=password]:last-child,
input[type=email]:last-child,
input[type=url]:last-child,
input[type=number]:last-child,
input[type=date]:last-child,
input[type=search]:last-child,
select:last-child,
textarea:last-child {
    margin-bottom: 0;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=number]:hover,
input[type=date]:hover,
input[type=search]:hover,
select:hover,
textarea:hover {
    border: 1px solid #828282;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=search]:focus,
select:focus,
textarea:focus {
    border: 1px solid #828282;
}
input[type=text].error,
input[type=password].error,
input[type=email].error,
input[type=url].error,
input[type=number].error,
input[type=date].error,
input[type=search].error,
select.error,
textarea.error {
    border: 1px solid #cb0001;
}
input[type=submit],
input[type=button],
input[type=reset] {
    margin: 0 6px 0 0;
}
fieldset {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background-color: #F8F9F9;
    border-radius: 10px;
    border: 1px solid #EBEDEF;
}
/* button */
.button {
    padding: 7px 20px;
    border-radius: 3px !important;
    line-height: normal !important;
    cursor: pointer;
    color: #fff !important;
    font-size: 1.3em !important;
    font-weight: normal !important;
    transition: 0.2s;
    outline: none !important;
    text-transform: capitalize !important;
}
.small {
    padding: 5px 10px !important;
    font-size: 1em !important;
}
/* default button */
.default {
    border: 1px solid #85929E !important;
    background-color: #85929E;
}
.default:active:focus {
    background-color: #85929E;
    color: #fff;
}
.default:hover {
    background-color: #fff;
    color: #85929E !important;
}
/* primary button */
.primary {
    border: 1px solid #34495E !important;
    background-color: #34495E;
}
.primary:active:focus {
    background-color: #34495E;
    color: #fff !important;
}
.primary:hover {
    background-color: #fff;
    color: #34495E !important;
}
/* danger button */
.danger {
    border: 1px solid #943126 !important;
    background-color: #943126;
}
.danger:active:focus {
    background-color: #B03A2E;
    color: #fff !important;
}
.danger:hover {
    background-color: #fff;
    color: #B03A2E !important;
}
/* success button */
.success {
    border: 1px solid #1D8348 !important;
    background-color: #1D8348;
}
.success:active:focus {
    background-color: #1D8348;
    color: #fff !important;
}
.success:hover {
    background-color: #fff;
    color: #1D8348 !important;
}
/* disabled button */
.disabled {
    background-color: #EAECEE;
    border: 1px solid #abb2b9;
    color: #abb2b9 !important;
    cursor: default;
}
/* INPUT FILE */
.jfilestyle {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    border-collapse: separate;
}
div.jfilestyle input {
    cursor: default;
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 0;
    border: 1px solid #b8b8b8;
    font-size: 1.2em;
}
div.jfilestyle label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-top: 0;
    margin-left: -3px;
    padding: 10px 20px 10px 20px;
    background-color: #34495E;
    border: 1px solid #34495E;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}
div.jfilestyle label span {
    color: #fff;
}
div.jfilestyle label:hover span {
    color: #34495E;
}
div.jfilestyle.jfilestyle-corner input:first-child {
    border-right: 0;
}
div.jfilestyle.jfilestyle-corner input:last-child {
    border-left: 0;
}
div.jfilestyle.jfilestyle-corner input:first-child,
div.jfilestyle.jfilestyle-corner span:first-child>label {
    border-radius: 5px;
}

div.jfilestyle.jfilestyle-corner input:last-child,
div.jfilestyle.jfilestyle-corner span:last-child>label {
    border-radius: 0 5px 5px 0;
}
.focus-jfilestyle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
div.jfilestyle label[disabled] {
    pointer-events: none;
    opacity: 0.6;
    filter: alpha(opacity=65);
    cursor: not-allowed;
}
div.jfilestyle label:hover {
    background-color: #fff;
}
div.jfilestyle label:active {
    background-color: #21618C;
    transition: 0.3s;
}
div.jfilestyle .count-jfilestyle {
    background: #303030;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 1.1em;
    vertical-align: middle;
}
/* INPUT RADIO */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.25em;
    user-select: none;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
}
.radio-container:hover input ~ .checkmark {
    border: 1px solid #828282;
    transition: 0.3s;
}
.radio-container input:checked ~ .checkmark {
    background-color: #34495E;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container input:checked ~ .checkmark:after {
    display: block;
}
.radio-container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}
/* INPUT CHECKBOX */
.check-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check-mark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
}
.check-container:hover input ~ .check-mark {
    border: 1px solid #828282;
    transition: 0.3s;
}
.check-container input:checked ~ .check-mark {
    background-color: #34495E;
}
.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-container input:checked ~ .check-mark:after {
    display: block;
}
.check-container .check-mark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
img.delete {
    position: absolute;
    top:20px;
    right: 10px;
    width: auto !important;
    height: 42px !important;
    padding: 7px;
    background-color: #c71a1a;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
img.delete:hover {
    background-color: #e53838;
    transition: 0.3s;
}
p.error {
    color: #cb0001;
    font-size: 1em;
    margin: 0 0 10px 0;
}
